@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jordan's simple MVC example</h1>
    <p>In order to see the Products page simply navigate to it using the navigation bar to the upper left</p>
</div>
